parameters:
    ignoreErrors:
        - '#Call to an undefined method Generated\\Zed\\Ide\\AutoCompletion\|Spryker\\Shared\\Kernel\\LocatorLocatorInterface::[a-zA-Z]*\(\)#'
        - '#.+Plugin: The plugin class implements Spryker\\Zed\\Mail\\Dependency\\Plugin interface without participation of Extension module which violates rule "A plugin class must implement a ModuleExtension's interface instead of implementing an extension interface of Module"#'